@model PhotoVerifyResultModel
@{
    double[] fars = new double[] { 100, 0.5, 0.25, 0.1, 0.01, 0.001 };
}

@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="text-danger h4">PhotoVerify failed:</div>
    if (!string.IsNullOrEmpty(Model.ErrorString))
    {
        <p class="text-danger text-break">@Model.ErrorString</p>
    }
    else
    {
        <p class="text-danger">Status: @Model.Status.ToString()</p>
    }
}
else
{
    if (Model.Accuracy > 0)
    {
        double far = fars[Model.Accuracy];
        int calls = (int)(100.0 / far);
        string color = Model.Accuracy > 3 ? "text-success" : "text-primary";

        <div class="@color h4">LEVEL @Model.Accuracy</div>
        <div class="@color h6">FAR: @far%</div>
        <p>The ID-ownership has been verified at LEVEL @Model.Accuracy, which has a @far% false acceptance rate (FAR), i.e. a maximum of 1 out of @calls matchings might be wrong.</p>

        <div>
            <div class="text-primary">Verification Accuracy Levels:</div>
            <div class="d-flex justify-content-center">
                <table class="table table-far">
                    <tr class="table-success"><th class="text-white bg-success">Level 5</th><td>FAR of @fars[5]%</td></tr>
                    <tr class="table-success"><th class="text-white bg-success">Level 4</th><td>FAR of @fars[4]%</td></tr>
                    <tr class="table-success"><th class="text-white bg-success">Level 3</th><td>FAR of @fars[3]%</td></tr>
                    <tr class="table-primary"><th class="text-white bg-primary">Level 2</th><td>FAR of @fars[2]%</td></tr>
                    <tr class="table-primary"><th class="text-white bg-primary">Level 1</th><td>FAR of @fars[1]%</td></tr>
                </table>
            </div>
        </div>
    }
    else
    {
        <p class="text-danger"><strong>Oops, ID-ownership could not be verified!</strong></p>
        if (!string.IsNullOrEmpty(Model.ErrorString))
        {
            <p class="text-danger text-break">@Model.ErrorString</p>
        }
        <p>
            <a href="https://www.youtube.com/watch?v=EMYCZdBDT54" target="_blank" title="PhotoVerify - Full Instruction">
                Possible reasons
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                    <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>
            </a>
        </p>
    }
}
